@media screen and (max-width: 1200px) {
  /* content  */
  .content {
    padding: 1em 15em 5em 15em;
  }
  .images {
    max-width: 100%;
  }
}

@media screen and (max-width: 950px) {
  /* content     */
  .content {
    padding: 1em 10em 5em 10em;
  }
}

@media screen and (max-width: 850px) {
  /* header  */
  .dt_menu_items {
    display: none;
  }
  .mb_menu_items {
    display: block;
  }
  .header {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* footer  */
  .footer_logo {
    width: 10em;
  }
}

@media screen and (max-width: 750px) {
  /* basic  */
  h1 {
    font-size: 2.5em;
    margin: 0%;
  }

  /* content  */
  .content {
    padding: 1em 5em 2em 5em;
  }
  .images {
    max-width: 110%;
  }
}
@media screen and (max-width: 550px) {
  /* basic  */
  h1 {
    font-size: 2em;
  }

  /* content  */
  .content p {
    font-size: 1em;
  }

  /* footer  */
  .footer_logo {
    display: none;
  }
}
