@media screen and (max-width: 1200px) {
  /* content  */
  .content {
    padding: 1em 15em 5em 15em;
  }
  .images {
    width: 100%;
    max-height: 20rem;
  }

  .button {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 950px) {
  /* content     */
  .content {
    padding: 1em 10em 5em 10em;
  }
  .modalimg {
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  /* header  */
  .dt_menu_items {
    display: none;
  }
  .mb_menu_items {
    display: block;
  }
  .header {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  /* footer  */
  .footer_logo {
    width: 10em;
  }
}

@media screen and (max-width: 750px) {
  /* basic  */
  h1 {
    font-size: 2.5em;
    margin: 0%;
  }

  /* header  */
  .header_logo {
    width: 6rem;
  }

  /* content  */
  .content {
    padding: 1em 5em 2em 5em;
  }
}

@media screen and (max-width: 550px) {
  /* basic  */
  h1 {
    font-size: 2em;
  }

  /* header  */
  .header_logo {
    width: 5rem;
  }
  label i {
    font-size: 30px;
  }

  /* content  */
  .content {
    padding: 1em 3em 1em 3em;
  }
  .content p {
    font-size: 1em;
  }

  .images {
    max-height: 12rem;
  }

  /* footer  */
  .footer_logo {
    display: none;
  }
  /* button  */
  .button {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  /* basic  */
  h1 {
    font-size: 1.8em;
  }

  /* header  */

  .header_logo {
    width: 4.5rem;
  }

  .tagline a {
    font-size: 0.7em;
  }

  /* breadcrumb  */
  .breadcrumb li {
    font-size: 0.5em;
  }

  /* content  */
  .content {
    padding: 1em 2em 1em 2em;
  }
  .content p {
    font-size: 0.8em;
  }

  .images {
    max-height: 10rem;
  }

  /* footer  */

  .footer a {
    font-size: 0.5em;
  }
  .footer ul a {
    padding: 1vw;
  }
  footer p {
    font-size: 0.5em;
  }
  /* button  */
  .button {
    font-size: 1em;
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 220px) {
  .tagline a {
    font-size: 0.4em;
  }
  .button {
    font-size: 0.9em;
  }
}
