.sortFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
}

.sort,
.filter {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
}

.content {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.postImage img {
  max-width: 100%;
  max-height: min-content;
  border-radius: 0.5;
  border: 2px solid #bbddf2;
}
.postImage {
  border: 2px solid #bbddf2;
  border-radius: 0.5rem;
  max-height: 250px;
}
.postItem a {
  /* background-size: cover; */
  height: 20rem;
  width: 18rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  color: #bbddf2;
  background-color: #182940;
  margin: 1.5rem;
  padding: 1rem;
}

.itemButton {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.overlay {
  border-radius: 0.5rem 0.5rem;
  background-color: rgba(24, 41, 64, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* mediaquery  */

@media screen and (max-width: 950px) {
  /* content     */
  .content {
    padding: 1rem 1rem;
  }
  .postItem a {
    height: 16rem;
    width: 12rem;

    margin: 1.5rem;
    padding: 1rem;
  }
  .postImage {
    max-height: 150px;
  }
}

@media screen and (max-width: 750px) {
  .sortFilter {
    margin-top: 1em;
  }
  h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  .postItem a {
    height: 14rem;
    width: 10rem;

    margin: 0.5rem;
    padding: 1rem;
  }
  .postImage {
    max-height: 110px;
  }
}
