.headTitle {
  font-size: 1em;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #182940;
}
.postContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
p {
  font-weight: 300;
}
.wp-block-image {
  margin: 0%;
}
.wp-block-image img {
  max-width: 50rem;
  max-height: 30rem;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wp-block-image img:hover {
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.hide {
  display: none;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1600px) {
  .headTitle {
    font-size: 0.8em;
  }

  h2 {
    font-size: 1em;
  }
  .wp-block-image img {
    max-width: 40rem;
    max-height: 25rem;
  }
}
@media screen and (max-width: 1200px) {
  .headTitle {
    font-size: 0.6em;
  }

  h2 {
    font-size: 0.9em;
  }
  .wp-block-image img {
    max-width: 30rem;
    max-height: 20rem;
  }
}

@media screen and (max-width: 950px) {
  .headTitle {
    font-size: 0.5em;
  }

  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 650px) {
  .wp-block-image img {
    max-width: 20rem;
    max-height: 15rem;
  }
}

@media screen and (max-width: 450px) {
  .headTitle {
    font-size: 0.4em;
  }

  h3 {
    font-size: 0.7em;
  }
  .wp-block-image img {
    max-width: 15rem;
    max-height: 12rem;
  }
}
