/* FYI
    font-family: 'Abril Fatface', cursive;
    font-family: 'Rubik', sans-serif;
    weight: 400=regular 500=medium
*/

/* fonts/ basic styles and such  */
body {
  background-color: #f5b3b3;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header,
footer {
  background-color: #000;
}
h1,
h2 {
  font-family: "Abril Fatface", cursive;
}

/* test line  */
/* .outline {
  border: 1px solid red;
} */

h3,
p,
a,
ul,
li {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 3em;
}

h2 {
  /* size  */
}

h3 {
  /* size  */
}

p {
  font-weight: 300;
}

/* header   */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 40px 0px 40px;
  align-items: center;
}

/* logo  */
.header_logo {
  width: 7rem;
}

/* special menu items dt / mb  */
.mb_menu_items {
  display: none;
}
.dt_menu_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.dt_menu_items a {
  font-family: "Abril Fatface", serif;
  font-size: 2em;
  text-decoration: none;
  list-style: none;
  color: #bbddf2;
  padding: 0.5vw;
  margin: 0.5em 2.5em 0.5em 1.5em;
  border-top: 1px solid #f5b3b3;
}

/* menu  */

nav {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #000;
  padding: 10px 50px 10px 10px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
label i {
  font-size: 40px;
  color: #fff4ec;
  margin-left: 15px;
}
/* menu items  */

nav ul li {
  display: block;
  padding: 3vw;
  padding-left: 0pt;
  text-align: right;
}
nav a {
  color: #bbddf2;
  font-size: 1.2em;
}

/* menu current  */
.current a {
  color: #f5b3b3;
  border-bottom: 1px solid #fff4ec;
}
/* menu hover  */

/* tagline  */
.tagline {
  background-color: #000;
  border-top: 2px solid #f5b3b3;
  padding: 0.8em 0em;
  display: flex;
  justify-content: center;
}
.tagline a {
  color: #bbddf2;
}

/* breadcrumb */
.breadcrumb ul li {
  display: inline;
}
.SSbreadcrumb {
  display: inline;
}
.breadcrumb a {
  color: #182940;
  font-size: 0.8em;
}

/* h1  */
.headTitle {
  display: flex;
  justify-content: center;
  color: #182940;
}
.pageTitle {
  padding-bottom: 1rem;
  border-bottom: 3px #182940 solid;
}

/* content global */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 20em 5em 20em;
}

.content p {
  font-size: 1.3em;
}

.images {
  width: 100%;
  max-height: 100%;
  margin: 1em;
}

/* footer  */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 40px 0px 40px;
  align-items: center;
  color: #bbddf2;
}
.footer a {
  color: #bbddf2;
  font-size: 0.8em;
}
.footer ul {
  padding: 0%;
}

/* footer links  */
.footerLinks ul a {
  display: block;
  padding: 0.5vw;
  padding-left: 0pt;
}
/* footer logo */
.footer_logo {
  width: 15em;
}

/* footer socials */
.footerSocials ul a {
  display: block;
  padding: 0.5vw;
  padding-left: 0pt;
  text-align: right;
}

/* footer copyright  */
.footerCopyr {
  display: flex;
  flex-basis: 100%;
  align-self: center;
  justify-content: center;
}

/* buttons  */
